#####################################
#      CONFIGURATION FOR OSCYS      #
#####################################

default:
  collection: oscys
  solr_core: api_oscys
  tei_solr_xsl: scripts/overrides/tei_to_solr.xsl
  tei_html_xsl: scripts/overrides/tei_to_html.xsl
  # Must stay one thread to correctly process data
  threads: 1

  data_base: https://cdrhmedia.unl.edu
  media_base: https://cdrhmedia.unl.edu
  variables_html:
    image_large: 1500
    image_thumb: 150
    slug: oscys
  variables_solr:
    site_location: https://earlywashingtondc.org

development:
  data_base: https://server.unl.edu/media
  solr_path: https://server.unl.edu/solr
  es_path: https://server.unl.edu/elastic
  es_index: cdrhapidev-v1

production:
  solr_path: https://server.unl.edu/solr

production_emergency:
  solr_core: api_oscys_emergency
  solr_path: https://server.unl.edu/solr
